<section id="<%= dom_id post %>" class="flex flex-col bg-indigo-500">
  <p class="text-yellow">
    <strong>Titlezz:</strong>
    <%= post.title %>
  </p>

  <p class="text-red">
    Posted <%= time_tag post.created_at, "data-local": "time-ago" %>
  </p>

  <p>
    <strong><%= pluralize post.comments.count, "comment" %></strong>
  </p>

  <section class="flex flex-col">
    <strong class="text-red-50">Content:</strong>
    <%= post.content %>
  </section>

</section>
